<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand mx-auto text-center" href="#">Welcome!</a>
    </div>
</nav>
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg login-card">
        <h2 class="text-center mb-4">Log in</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="text" class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter username" formControlName="username"
                    required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
                    required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>