<app-sidebar></app-sidebar>
<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Invoices</h3>
            <button type="button" class="btn btn-primary" (click)="goToNewInvoice()">
                <span class="bi bi-cloud-upload-fill"></span>
            </button>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Patient</td>
                        <td>Doctor</td>
                        <td>Reason</td>
                        <td>Total</td>
                        <td>Date</td>
                        <td>Edit</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{invoice.appointment.patient.name}}</td>
                        <td>{{invoice.appointment.doctor.name}}</td>
                        <td>{{invoice.appointment.reason}}</td>
                        <td>{{invoice.totalAmount}}</td>
                        <td>{{invoice.date}}</td>
                        <td>
                            <button type="button" class="btn btn-warning">
                                <span class="bi bi-pencil-square" (click)="goToEditInvoice(invoice.invoiceId)"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>